<p>
<%=
randomize( "WHAT IF YOU FUCKING GOT HER",
"IF YOU LOVED HER YOU'D HAVE ALREADY GOTTEN HER",
"SHE'D FUCKING LOVE",
"CAN YOU FUCKING IMAGINE HER RECEIVING",
"SHE MIGHT UN-DISOWN YOU FOR")
%> </p> <p> <a href="<%= @gift.url %>" target="_new">
  <%= @gift.name %>
</a>
</p>

<% 
   session[:fuck] = "no" if (params[:fuck] == "no")
   if (params[:fuck] == "yeah" || session[:fuck] == "yeah") 
     session[:fuck] = "yeah"
 %>
  <div id="f7u12"> <img src="
  <%= randomize(
  "images/c1.png",
  "images/c2.png",
  "images/c3.png",
  "images/c4.png",
  "images/c5.png",
  "images/c6.png",
  "images/c7.png",
  "images/c8.png",
  "images/c9.png",
  "images/c0.png")
  %>" width="125" />
</div>
<% end %>

<div id="poker">
  <a href="/?fuck=<%= (session[:fuck] == "yeah") ? 'no' : 'yeah'  %>">
    <img src="<%= (sc > 3 and sc < 6 and session[:fuck] != "yeah") ? 'images/poker2.png' : 'images/poker.png'  %>" height="100" border=0/>
   </a>
</div>

<div id="choices"> 

   <p> <a href="/<%= "?cheapbastard=#{@cheap}" if @cheap %>">
    SHE WON'T FUCKING LIKE THAT.
<%
randomize(
"SHE WON'T FUCKING LIKE THAT.",
"SHE'LL FUCKING HATE IT.",
"I'D RATHER SEE GRANDMA NAKED IN THE SHOWER."
)
%>
</a></p>
<p>
<% if @incrediblycheap %>
  <a href="/">ONLY <%= (@gift.price.to_f / 100).truncate %> DOLLARS? SHE'S MY FUCKING MOTHER!</a>
<% else %>
<a href="/?cheapbastard=<%= @gift.price / 100 %>">
LOVE HER, BUT  <%= (@gift.price.to_f / 100).truncate %> DOLLARS IS TOO FUCKING MUCH.
</a>
<% end %>
</p>
<br>
</div>


