<p>
<%=
randomize( "WHAT IF YOU FUCKING GOT HER",
"IF YOU LOVED HER YOU'D FUCKING SNAG",
"SHE'D FUCKING LOVE",
"IMAGINE HER FUCKING FACE HAVING RECEIVED",
"SHE MIGHT UN-DISOWN YOU FOR")
%> </p> <p> <a href="<%= @gift.url %>" target="_new">
  <%= @gift.name %>
</a>
</p>
<div id="choices"> 
  <p><a href="/<%= "?cheapbastard=#{@cheap}" if @cheap %>">
    SHE WON'T FUCKING LIKE THAT.
<%
randomize(
"SHE WON'T FUCKING LIKE THAT.",
"SHE'LL FUCKING HATE IT.",
"I'D RATHER SEE GRANDMA NAKED IN THE SHOWER."
)
%>
</a></p>
<p>
<% if @incrediblycheap %>
  <a href="/">SHE'S MY FUCKING MOTHER! OF COURSE I'D SPEND MORE THAN 
    <%= (@gift.price.to_f / 100).truncate %> DOLLARS ON HER!</a>
<% else %>
<a href="/?cheapbastard=<%= @gift.price / 100 %>">
LOVE HER, BUT  <%= (@gift.price.to_f / 100).truncate %> DOLLARS IS TOO FUCKING MUCH.
</a>
<% end %>
</p>
<br>
<p class="smaller">

</p>
</div>


