<% title "Gift" %>

<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>
<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>
<p>
  <strong>Price:</strong>
  <%= @gift.price %>
</p>

<p>
  <%= link_to "Edit", edit_gift_path(@gift) %> |
  <%= link_to "Destroy", @gift, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gifts_path %>
</p>
