<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "What the Fuck Should I Get For Mother's Day?" %></title>
    <%= stylesheet_link_tag "style" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

<div id="facebook"> 
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FWhat-the-Fuck-Should-I-Get-For-Mothers-Day%2F116040201810390&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:72px;" allowTransparency="true"></iframe>
</div> 

<div id="wtfsimfdlink"> 
Collecting data for the <a href="http://www.guessagift.com">Gift Prediction Engine</a><br/> machine learning project.
Based off of <a href="http://wtfsimfd.com">this</a> <br/> awesome fucking website fucking made by <a href="http://www.zachgolden.com">Zach</a>.
</div>
</div>
</body>
</html>
