<!DOCTYPE html>
<html>
<head>
<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAABuElEQVQ4y6WRTUgTABiGn6WolS2p6IeI2CEiyINBBAV66BZEt7oEQXTpIESnoEtEneoigf1RBMYoaGHFmKD9qmhhRVSo/WkTIokyxNqUbU+HbWKbG0EvfIfv+973he974T8RUM0300AaWFSCnAIqC2az/YPjLUx+GqMiA4n4Fxq7w6zObeNA9+Y9JN/eJcBaGnpiNOyozy5Vo/uP+SLcYR7fhj7YStAJ9Z16feU2R8AkOA5eAHtbI6oyOjhmx9Z9FuLrwSNeC4SMnW1zCnROJcBL4LRasWtmyYn1j6OsOLwXqmvg53d42EntwBNWjQyz7v4t6lLporvHgUw6SGVy4A3Vk5+hcSc0NUEqDcPvoa+fNcnpkt9fDkzFHlEZWFbLDMDroWz9I34BdekEC0JHD/GqHDO4uGiUySWzYXt9NoVIIGRXwaNKVQpsA59RpS/7JP/1dpZ6E5woI/4IXgWfg165mI1xbnSDuw94GXw6j7gLDIM/Nm7RjtuzGgrzT/f0G6HG6BzxDbATtLlZpyb+4hcZ5HFv4Sbv5MS9oOfOzMsraaB6nirbQVtOleSUNfgdHzVx8nQ5in8AO53ynen/+VYAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
<title><%= content_for?(:title) ? yield(:title) : "What the Fuck Should I Get For Mother's Day?" %></title>
<%= stylesheet_link_tag "style" %>
<%= csrf_meta_tag %>
<%= javascript_include_tag "jquery/jquery", "jquery/jquery.cookie", "jquery/jquery.md5", "application", "rails" %>

<meta property="fb:admins" content="1088160016" />
<meta property="fb:app_id" content="116040201810390" />
<meta property="og:title" content="What the Fuck Should I Get for Mother&#039;s Day" />
<meta property="og:description" content="Mother's day is May 8th, don't fuck it up." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://whatthefuckshouldigetformothersday.com" />
<meta property="og:image" content="http://whatthefuckshouldigetformothersday.com/images/wtfmom.png" />
<meta property="og:site_name" content="What the Fuck Should I Get for Mother&#039;s Day" />

<script type="text/javascript">
function myscript() {
input = 'fuck';
output='f7u12';
document.body.innerHTML = document.body.innerHTML.replace(input,output);
}
</script>


<%= yield(:head) %>
</head>
  <body OnLoad = "myscript();">
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

<div id="facebook"> 
  <iframe src="http://www.facebook.com/plugins/like.php?href=whatthefuckshouldigetformothersday.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:22px;" allowTransparency="true"></iframe>
<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
  
</div> 

<div id="wtfsimfdlink"> 
  Collecting data for a machine learning gift<br/> suggestion
  project, would love <a href="http://guessagift.com">testers</a>.
Based off of <a href="http://wtfsimfd.com">this</a><br/> awesome fucking website fucking made by <a href="http://www.zachgolden.com">Zach</a>
</div>

<div id="suggest">
  Suggest gifts to add! <em>bribot@wtfsigfmd.com</em>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23004944-1']);
  _gaq.push(['_setDomainName', '.whatthefuckshouldigetformothersday.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script> (function (){ $("body *").replaceText( /fuck|fucking/gi, "FFFFFFFUUUUUUUUUUUU" ) })(); </script>


</body>
</html>
