<!DOCTYPE html>
<html>
<head>
<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAABuElEQVQ4y6WRTUgTABiGn6WolS2p6IeI2CEiyINBBAV66BZEt7oEQXTpIESnoEtEneoigf1RBMYoaGHFmKD9qmhhRVSo/WkTIokyxNqUbU+HbWKbG0EvfIfv+973he974T8RUM0300AaWFSCnAIqC2az/YPjLUx+GqMiA4n4Fxq7w6zObeNA9+Y9JN/eJcBaGnpiNOyozy5Vo/uP+SLcYR7fhj7YStAJ9Z16feU2R8AkOA5eAHtbI6oyOjhmx9Z9FuLrwSNeC4SMnW1zCnROJcBL4LRasWtmyYn1j6OsOLwXqmvg53d42EntwBNWjQyz7v4t6lLporvHgUw6SGVy4A3Vk5+hcSc0NUEqDcPvoa+fNcnpkt9fDkzFHlEZWFbLDMDroWz9I34BdekEC0JHD/GqHDO4uGiUySWzYXt9NoVIIGRXwaNKVQpsA59RpS/7JP/1dpZ6E5woI/4IXgWfg165mI1xbnSDuw94GXw6j7gLDIM/Nm7RjtuzGgrzT/f0G6HG6BzxDbATtLlZpyb+4hcZ5HFv4Sbv5MS9oOfOzMsraaB6nirbQVtOleSUNfgdHzVx8nQ5in8AO53ynen/+VYAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
<title><%= content_for?(:title) ? yield(:title) : "What the Fuck Should I Get For Mother's Day?" %></title>
<%= stylesheet_link_tag "style" %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
</head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

<div id="facebook"> 
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FWhat-the-Fuck-Should-I-Get-For-Mothers-Day%2F116040201810390&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:72px;" allowTransparency="true"></iframe>
</div> 

<div id="wtfsimfdlink"> 
Collecting data for the <a href="http://www.guessagift.com">Gift Prediction Engine</a><br/> machine learning project.
Based off of <a href="http://wtfsimfd.com">this</a> <br/> awesome fucking website fucking made by <a href="http://www.zachgolden.com">Zach</a>.
</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23004944-1']);
  _gaq.push(['_setDomainName', '.whatthefuckshouldigetformothersday.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
